@page

@model UsingCoreIdentity.Pages.PageAddRemoveUsersToRoleModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<!-- !!!!! BOOTSTRAP sa MUSI nachadzat PRED 'Errors.css', inak sa CSS CLASS 'Errors.css' NEAPLIKUJE. -->
	<link rel="stylesheet" href="~/StaticFiles/Styles/Errors.css" />
	<title>Add/Remove Users to Role</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-page="PageAddRemoveUsersToRole">
			<input type="hidden" name="RoleID" value="@Model.AddRemoveUserToRoleModel.RoleID" />

			<div class="INNER_BOX" asp-validation-summary="All"></div>

			<table class="table table-bordered table-striped">
				<tr>
					USERS in ROLE [@Model.AddRemoveUserToRoleModel.RoleName]:
				</tr>

				<tr>
					<th>Number</th>
					<th>User ID</th>
					<th>User name</th>
					<th>Commands</th>
				</tr>

				@for(int Index=0;Index<Model.AddRemoveUserToRoleModel.UsersInRole.Length;Index++)
				{
					CAddRemoveUserToRole						AddRemoveUserToRole=Model.AddRemoveUserToRoleModel.UsersInRole[Index];

					<tr>
						<td>
							@(Index+1)
						</td>
						
						<td>
							@AddRemoveUserToRole.UserID
						</td>
						
						<td>
							@AddRemoveUserToRole.UserName
						</td>

						<td>
							<button type="submit" class="btn btn-sm btn-primary" asp-route-UserID="@AddRemoveUserToRole.UserID" asp-route-RoleID="@AddRemoveUserToRole.RoleID" asp-route-AddUser="false">Remove user from role</button>
						</td>
					</tr>
				}
			</table>

			<table class="table table-bordered table-striped">
				<tr>
					USERS NOT in ROLE [@Model.AddRemoveUserToRoleModel.RoleName]:
				</tr>

				<tr>
					<th>Number</th>
					<th>User ID</th>
					<th>User name</th>
					<th>Commands</th>
				</tr>

				@for(int Index=0;Index<Model.AddRemoveUserToRoleModel.UsersNotInRole.Length;Index++)
				{
					CAddRemoveUserToRole						AddRemoveUserToRole=Model.AddRemoveUserToRoleModel.UsersNotInRole[Index];

					<tr>
						<td>
							@(Index+1)
						</td>
						
						<td>
							@AddRemoveUserToRole.UserID
						</td>
						
						<td>
							@AddRemoveUserToRole.UserName
						</td>

						<td>
							<button type="submit" class="btn btn-sm btn-primary" asp-route-UserID="@AddRemoveUserToRole.UserID" asp-route-RoleID="@AddRemoveUserToRole.RoleID" asp-route-AddUser="true">Add user to role</button>
						</td>
					</tr>
				}
			</table>

			<div class="form-group">
				<a class="btn btn-sm btn-primary" asp-page="/PageViewRoles">Back</a>
			</div>
		</form>
	</div>
</body>
</html>