@page

@model WorkingWithData.Pages.PageViewPersonsModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
    <title>View Persons</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>Number</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Age</th>
			</tr>

			@for(int Index=0;Index<Model.Persons.Length;Index++)
			{
				CPerson											Person=Model.Persons[Index];

				<tr>
					<td>
						@(Index+1)
					</td>
						
					<td>
						@Person.FirstName
					</td>
						
					<td>
						@Person.LastName
					</td>

					<td>
						@Person.Age
					</td>

					<td>
						<a class="btn btn-sm btn-primary" asp-page="PageViewPersonDetails" asp-route-ID="@Person.ID">View person details</a>
						<a class="btn btn-sm btn-primary" asp-page="PageEditPerson" asp-route-ID="@Person.ID">Edit person</a>
						<a class="btn btn-sm btn-primary" asp-page="PageDeletePerson" asp-route-ID="@Person.ID">Delete person</a>
					</td>
				</tr>
			}
		</table>

		<a class="btn btn-sm btn-primary" asp-page="PageAddPerson">Add person</a>
	</div>
</body>
</html>