<table class="table table-sm table-striped table-bordered">
    <thead>
		<tr>
			<th colspan="5" class="text-center">@TableTitle</th>
		</tr>
    </thead>

    <tbody>
        @if (Orders?.Count() > 0)
		{
            @foreach (COrder Order in Orders)
			{
                <tr>
                    <td>@Order.Name</td>
					<td>@Order.Zip</td>
					<th>Product</th>
					<th>Quantity</th>
					<td>
						<button class="btn btn-sm btn-danger" @onclick="@(P => OrderSelected.InvokeAsync(Order.OrderID))">
							@ButtonLabel
						</button>
					</td>
				</tr>

                @foreach (CCartLine Line in Order.Lines)
				{
                    <tr>
                        <td colspan="2"></td>
                        <td>@Line.Product.Name</td>
						<td>@Line.Quantity !</td>
                        <td></td>
                    </tr>
                }
            }
        }
		else
		{
            <tr>
				<td colspan="5" class="text-center">No Orders !</td>
			</tr>
        }
    </tbody>
</table>