@page "/Admin/Products"
@page "/Admin"

@inherits OwningComponentBase<IStoreRepository>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th><th>Name</th>
            <th>Category</th><th>Price</th><td/>
        </tr>
    </thead>
    <tbody>
        @if (ProductData?.Count()>0)
		{
            @foreach (CProduct Product in ProductData)
			{
                <tr>
                    <td>@Product.ProductID</td>
                    <td>@Product.Name</td>
                    <td>@Product.Category</td>
                    <td>@Product.Price.ToString("c") !</td>
                    <td>
                        <NavLink class="btn btn-info btn-sm" href="@GetDetailsUrl(Product.ProductID)">
                            Details
                        </NavLink>

                        <NavLink class="btn btn-warning btn-sm" href="@GetEditUrl(Product.ProductID)">
                            Edit
                        </NavLink>

                        <button class="btn btn-danger btn-sm" @onclick="@(P => DeleteProduct(Product))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        }
		else
		{
            <tr>
                <td colspan="5" class="text-center">No Products !</td>
            </tr>
        }
    </tbody>
</table>

<NavLink class="btn btn-primary" href="/Admin/Products/Create">Create</NavLink>