@page

@model SecuringWebServicesBearerTokens.Pages.PageViewRolesModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
    <title>View Roles</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>Number</th>
				<th>ID</th>
				<th>Role name</th>
				<th>Description</th>
				<th>Users</th>
				<th>Commands</th>
			</tr>

			@for(int Index=0;Index<Model.Roles.Length;Index++)
			{
				CRole											Role=Model.Roles[Index];

				<tr>
					<td>
						@(Index+1)
					</td>
						
					<td>
						@Role.ID
					</td>
						
					<td>
						@Role.RoleName
					</td>

					<td>
						@Role.Description
					</td>

					<td>
						@Role.Users
					</td>

					<td>
						<a class="btn btn-sm btn-primary" asp-page="/RoleManagement/PageEditRole" asp-route-ID="@Role.ID">Edit role</a>
						<a class="btn btn-sm btn-primary" asp-page="/RoleManagement/PageDeleteRole" asp-route-ID="@Role.ID">Delete role</a>
						<a class="btn btn-sm btn-primary" asp-page="/RoleManagement/PageAddRemoveUsersToRole" asp-route-RoleID="@Role.ID">Add/Remove user to role</a>
					</td>
				</tr>
			}
		</table>

		<a class="btn btn-sm btn-primary" asp-page="/RoleManagement/PageAddRole">Add role</a>
		<a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="Index">Go HOME !</a>
	</div>
</body>
</html>