@page "/ViewPersons"

<div class="OUTER_BOX">
	<table class="table table-bordered table-striped">
			<tr>
				<th>Number</th>
				<th>First name</th>
				<th>Last name</th>
			</tr>

			@for(int Index=0;Index<Persons.Length;Index++)
			{
				CPerson											Person=Persons[Index];

				<tr>
					<td>
						@(Index+1)
					</td>
						
					<td>
						@Person.FirstName
					</td>
						
					<td>
						@Person.LastName
					</td>

					<td>
						<NavLink class="btn btn-primary" href="@GetViewPersonDetailsLink(Person)">View person details</NavLink>
						<NavLink class="btn btn-primary" href="@GetEditPersonLink(Person)">Edit person</NavLink>
						<NavLink class="btn btn-primary" href="@GetDeletePersonLink(Person)">Delete person</NavLink>
					</td>
				</tr>
			}
	</table>

	<NavLink class="btn btn-primary" href="@GetAddPersonLink()">Add person</NavLink>
</div>