@page

@model SecuringWebServicesUsingCookies.Pages.PageViewUsersModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
    <title>View Users</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>Number</th>
				<th>ID</th>
				<th>User name</th>
				<th>Email</th>
				<th>Description</th>
				<th>Commands</th>
			</tr>

			@for(int Index=0;Index<Model.Users.Length;Index++)
			{
				CUser											User=Model.Users[Index];

				<tr>
					<td>
						@(Index+1)
					</td>
						
					<td>
						@User.ID
					</td>
						
					<td>
						@User.UserName
					</td>

					<td>
						@User.Email
					</td>

					<td>
						@User.Description
					</td>

					<td>
						<a class="btn btn-sm btn-primary" asp-page="/UserManagement/PageEditUser" asp-route-ID="@User.ID">Edit user</a>
						<a class="btn btn-sm btn-primary" asp-page="/UserManagement/PageDeleteUser" asp-route-ID="@User.ID">Delete user</a>
					</td>
				</tr>
			}
		</table>

		<a class="btn btn-sm btn-primary" asp-page="/UserManagement/PageAddUser">Add user</a>
		<a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="Index">Go HOME !</a>
	</div>
</body>
</html>