@page "/CustomValidatorViewPersons"

<div class="OUTER_BOX">
	<table class="table table-bordered table-striped">
			<tr>
				<th>Number</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Age</th>
				<th>Sex</th>
			</tr>

			@for(int Index=0;Index<Persons.Length;Index++)
			{
				CPerson											Person=Persons[Index];

				<tr>
					<td>
						@(Index+1)
					</td>
						
					<td>
						@Person.FirstName
					</td>
						
					<td>
						@Person.LastName
					</td>
						
					<td>
						@Person.Age
					</td>
						
					<td>
						@Person.Sex
					</td>

					<td>
						<NavLink class="btn btn-primary" href="@GetEditPersonLink(Person)">Edit person</NavLink>
					</td>
				</tr>
			}
	</table>
</div>