<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="bg-info">
			This TEXT 111 is from LAYOUT !
		</div>

		<!-- !!! Vykona sa test ci SECTION EXISTUJE. Kedze NEEXISTUJE, zobrazi sa CONTENT ELSE BLOCKU. -->
		@if (IsSectionDefined("MY_SUPER_SECTION_1")==true)
		{
			@RenderSection("MY_SUPER_SECTION_1")
		}
		else
		{
			<div>LAYOUT 'MY_SUPER_SECTION_1' doesn't exist !</div>
		}

		<div class="bg-info">
			This TEXT 222 is from LAYOUT !
		</div>

		<!-- !!! SECTION je OPTIONAL. To znaci, ze ked NEEXISTUJE, tak sa volanie METHOD RenderSection() IGNORUJE. -->
		@RenderSection("MY_SUPER_SECTION_2",false)

		<div class="bg-info">
			This TEXT 333 is from LAYOUT !
		</div>

		<!-- !!! Zobrazi sa SECTION 'MY_HEADER'. -->
		@RenderSection("MY_HEADER")

		<div class="bg-info">
			This TEXT 444 is from LAYOUT !
		</div>

		<!-- !!! Zobrazi sa BODY SECTION 'MY_HEADER'. -->
		@RenderBody()

		<div class="bg-info">
			This TEXT 555 is from LAYOUT !
		</div>

		<!-- !!! Zobrazi sa SECTION 'MY_FOOTER'. -->
		@RenderSection("MY_FOOTER")

		<div class="bg-info">
			This TEXT 666 is from LAYOUT !
		</div>
	</div>
</body>
</html>